.git
.opencode
.sst
.turbo
.wrangler
node_modules
**/node_modules
**/.output
**/dist
**/.turbo
**/.vite
**/coverage
.env
.editorconfig
.gitattributes
.gitignore
.pre-commit-config.yaml
.vscode
docs
scripts
